.about-section {
  background-color: var(--white);
  padding: 2rem 0;
}
.about-section .wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.about-section .wrap .flex-1 {
  display: block;
  width: 100%;
}
.about-section .wrap .flex-1:last-child {
  display: flex;
  justify-content: flex-end;
}
.about-section .wrap .flex-1 .video {
  width: 100%;
  height: auto;
  position: relative;
}
.about-section .wrap .flex-1 video {
  width: 100%;
  height: auto;
}
.about-section .wrap .flex-1 .fi-tr-play-circle {
  font-size: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.about-section h1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 5px;
  text-align: center;
}
.about-section p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black-9);
  line-height: 1.6;
  margin-bottom: 3px;
}

/* SM */
@media (min-width: 640px) {
  .about-section .wrap .flex-1 iframe {
    width: 560px;
  }
  .about-section .wrap .flex-1 .video {
    width: 560px;
  }
  .about-section .wrap .flex-1 video {
    width: 560px;
  }
}
/* MD */
@media (min-width: 768px) {
}
/* LG */
@media (min-width: 1024px) {
  .about-section .wrap {
    flex-direction: row;
    gap: 0;
  }
  .about-section .wrap .flex-1 {
    flex: 1;
  }
}
/* XL */
@media (min-width: 1280px) {
}
