.main-slide {
  width: 100%;
  height: 50vh;
  position: relative;
}
.main-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--black-4);
}

.main-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.main-slide .inner-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

.main-slide .inner-slide .content {
  visibility: hidden;
  color: var(--white);
  width: 50%;
}
.main-slide .inner-slide h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.main-slide .inner-slide p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white-9);
}

/* SM */
@media (min-width: 640px) {
}
/* MD */
@media (min-width: 768px) {
  .main-slide .inner-slide .content {
    visibility: visible;
  }
}
/* LG */
@media (min-width: 1024px) {
  .main-slide {
    height: 70vh;
  }
}
/* XL */
@media (min-width: 1280px) {
}
/* 2XL */
@media (min-width: 1536px) {
}
