:root {
  --shadow-1: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --shadow-2: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --shadow-3: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-4: 0 8px 16px rgba(0, 0, 0, 0.2);
  --primary-color: #0f0a70;
  --secondary-primary-color: #00a653;
  --white: #ffffff;
  --white-3: rgb(255, 255, 255, 0.3);
  --white-4: rgb(255, 255, 255, 0.4);
  --white-5: rgb(255, 255, 255, 0.5);
  --white-6: rgb(255, 255, 255, 0.6);
  --white-7: rgb(255, 255, 255, 0.7);
  --white-8: rgb(255, 255, 255, 0.8);
  --white-9: rgb(255, 255, 255, 0.9);
  --black: #010101;
  --black-3: rgba(0, 0, 0, 0.3);
  --black-4: rgba(0, 0, 0, 0.4);
  --black-5: rgba(0, 0, 0, 0.5);
  --black-8: rgba(0, 0, 0, 0.8);
  --black-9: rgba(0, 0, 0, 0.9);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  /* overflow-x: hidden; */
  background-color: #f0f0f0;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
li,
a {
  display: inline-block;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

/* SM */
@media (min-width: 640px) {
}
/* MD */
@media (min-width: 768px) {
}
/* LG */
@media (min-width: 1024px) {
}
/* XL */
@media (min-width: 1280px) {
  .container {
    padding: 0;
  }
}
/* 2XL */
@media (min-width: 1536px) {
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h1 {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 5px;
}
.title p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black-8);
}
